{% extends "_template.html.twig" %}

{% block title %}
    Accueil
{% endblock %}

{% block content %}
    <div class="section">
        
        
        {# inclusion de fichier & passage de variables #}
        {% include "includes/product_list.html.twig" with {products:new_products} %}
    </div>
{% endblock %}


{# 
<div class="column is-one-quarter">
    <div class="card">
        <div class="card-content">
            <p class="title">{{ product.name }}</p>
            <p class="content">{{ product.description }}</p>
            <h6>
                {{product.priceFloat|number_format(2, '.', ' ') }} €
                | {{ product.createdAt|date('d/m/Y') }}
            </h6>
        </div>
    </div>
</div> 
#}