{{ form_start(category_form) }}
        
    {{ form_row(category_form.name, {
        label:'Catégorie du produit:'
    }) }}

    <button type="submit" class="button is-success is-fullwidth">
        Enregistrer
    </button>

{{ form_end(category_form) }}